* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/Background_11.jpg");
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
}

.body-wrap {
    width: 80vw;
    margin: 0 auto;
    padding: 1em;
    color: #1a323e;
}

h1 {
    font-family: Bangers, sans-serif;
    font-weight: 200;
    font-size: 4rem;
    text-align: center;
}

h3 {
    font-family: Bangers, sans-serif;
    text-align: center;
    font-size: 2em;
    letter-spacing: .15em;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

.intro p, .intro h2 {
    display: flex;
    width: 60vw;
    justify-content: center;
    margin-bottom: .5em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.intro h2 {
    margin-top: 1em;
    font-family: Bangers, sans-serif;
    font-weight: 100;
    font-size: 2.5rem;
}

.content-choices {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:stretch;
    padding: 1rem;
}

.player-select {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
    flex: 12.5%;
}

.player-select button {
    flex: 33%;
}

.computer-select {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
    flex: 12.5%;
}

.computer-select div {
    flex: 33%;
}

.fight {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    gap: 10px;
    margin: 0 10px;
    flex: 70%;
    align-self: flex-start;
}

.fight div {
    flex: 2 2 33%;
}

.fight .versus{
    flex: 10%;
    align-self: center;
}

.versus {
    display: none;
}

img {
    width: 100%;
    object-fit: contain;
    pointer-events: none;
}

.computer-choice-img, .player-choice-img {
    margin-top: 1em;
}

.hand-button {
    background: none;
    border: none;
    cursor: pointer;
}


.computer-choice-img img, .player-choice-img img {
    object-fit: contain;
    padding: 2em;
}

#center-paper-computer {
    display: none;
}

#center-rock-computer {
    display: none;
}

#center-scissors-computer {
    display: none;
}

#center-paper-player {
    display: none;
}

#center-rock-player {
    display: none;
}

#center-scissors-player {
    display: none;
}